.containerPhoto {
  display: grid;
  grid-template-columns: repeat(4, 320px);
  grid-template-rows: repeat(2, auto);
  gap: 1rem;
  margin-bottom: 1rem;
  justify-items: center;
}
.photo:nth-child(6) {
  padding-top: 50px;
}
.photo {
  width: 320px;
}

@media (max-width: 1340px) {
  .containerPhoto {
    grid-template-columns: repeat(4, 220px);
  }
  .photo {
    width: 220px;
  }
}

@media (max-width: 945px) {
  .containerPhoto {
    grid-template-columns: repeat(2, 220px);
    grid-template-rows: repeat(4, auto);
  }
}

@media (max-width: 480px) {
  .containerPhoto {
    grid-template-columns: repeat(1, 220px);
    grid-template-rows: repeat(6, auto);
  }
}



